@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/home.css" />
}

<div class="home-container">
    <div>
        <h1 class="home-title">FAKEDIN BLI KLAR MED KURSEN</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>


