@section Styles {
    <link rel="stylesheet" href="~/css/pages/login.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Login";
}

<div class="page">
    <h1>Logga in</h1>

    <div class="auth-benefits">
        <div class="benefit-item">
            <span class="benefit-icon">✅</span>
            <span class="benefit-text">Skapa och uppdatera ditt CV snabbt</span>
        </div>

        <div class="benefit-item">
            <span class="benefit-icon">🔒</span>
            <span class="benefit-text">Privat och säker meddelandetjänst mellan användare</span>
        </div>

        <div class="benefit-item">
            <span class="benefit-icon">🎯</span>
            <span class="benefit-text">Matchning baserad på kompetenser och erfarenhet</span>
        </div>
    </div>


    <form method="post">
        <div>
            <label for="username">Användarnamn</label><br />
            <input type="text" id="username" name="Username" />
        </div>

        <br />

        <div>
            <label for="password">Lösenord</label><br />
            <input type="password" id="password" name="Password" />
        </div>

        <br />

        <button class="btn-primary-custom" type="submit">
            Logga in
        </button>
    </form>

    <p>
        Ny användare?
        <a asp-controller="NewUser" asp-action="Index">Ny användare</a>
    </p>
</div>


