@section Styles {
    <link rel="stylesheet" href="~/css/pages/newuser.css" />
}

@{
    ViewData["Title"] = "NewUser";
}


<div class="page">
    <h1>Ny användare</h1>

    <form method="post">
        <label>Email</label><br />
        <input type="text" /><br /><br />

        <label>Lösenord</label><br />
        <input type="password" /><br /><br />

        <button>Skapa användare</button>
    </form>
</div>
