@{
    ViewData["Title"] = "NewUser";
}


<div class="newuser-container">
    <h1 class="newuser-title">Ny användare</h1>

    <form method="post" class="newuser-form">
        <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input type="text" id="email" class="form-input" />
        </div>

        <div class="form-group">
            <label class="form-label" for="password">Lösenord</label>
            <input type="password" id="password" class="form-input" />
        </div>

        <button type="submit" class="btn-submit">
            Skapa användare
        </button>
    </form>
</div>