.logo img {
    width: 400px;
    max-width: 90%;
    height: auto;
    display: block;
    margin: 40px auto 20px;
}

.home-title {
    text-align: center;
    margin: 30px auto;
}

.home-title .title {
        font-weight: 800;
        font-size: 40px;
        margin: 0;
}

.home-text {
    max-width: 900px;
    margin: 30px auto;
    padding: 24px 28px;
    border: 2px solid #111;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    
}

.home-text p {
        font-size: 20px;
        line-height: 1.7;
        margin: 0 0 16px;
        font-weight: 450;
        text-align: justify;
}

.home-text p:last-child {
        margin-bottom: 0;
}


.home-title2 {
    margin: 30px auto;
    text-align: center;
}

.home-title2 h2 {
    font-size: 30px;
    font-weight: 600;
}

.home-message {
    max-width: 900px;
    margin: 30px auto;
    padding: 24px 28px;
    border: 2px solid #111;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.home-message p {
    font-size: 20px;
    line-height: 1.7;
    margin: 0 0 16px;
    font-weight: 450;
    text-align: justify;
}