@* Neon carousel RIGHT nav button (real button; JS looks for .cv-nav--next).
   Includes smoke effect (mirrors left button). *@
<button type="button" class="elastic-btn-right elastic-btn cv-nav--next" aria-label="Next profile">
    <svg class="smoke-container" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <path class="smoke-wisp" d="M20 40 Q 25 30 20 20" />
        <path class="smoke-wisp" d="M30 40 Q 25 30 30 20" />
        <path class="smoke-wisp" d="M25 45 Q 25 35 25 25" />
    </svg>

    <svg class="elastic-svg-right elastic-svg" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <path class="arrow-head-right arrow-head" d="M28 12 L40 25 L28 38" />
        <line class="arrow-shaft-right arrow-shaft" x1="10" y1="25" x2="40" y2="25" transform="scaleX(0.5)" />
    </svg>
</button>
