@{
    ViewData["Title"] = "My CV";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/mycv.css" />
}

<div class="mycv-container">
    <div>
        <h1 class="mycv-title">DET FINNS INGA CV:N</h1>
       
    </div>
</div>


