html {
  font-size: 14px;
}

body {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-optical-sizing: auto;
}


.navbar .nav-link {
    font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #111 !important;
    opacity: 0.85;
    position: relative;
    padding-bottom: 6px;
}




    
.navbar .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #111;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.25s ease;
}

 
.navbar .nav-link:hover::after {
        transform: scaleX(1);
 }

.navbar .nav-link.active::after {
        transform: scaleX(1);
}






@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

